<div class="chat-header">
<div class="room">
   <select name="select" onChange="location.href=value;">
          <option>チャットするルームを選択してください</option>
          <option value="messages#index">ニコニコルーム１</option>
          <option value="chats#index">グリーンルーム</option>
          <option value="memos#index">メモ</option>
        </select>
  </div>
</div>

<div class="messages">
<%= render partial: 'message', collection: @messages, class: 'messages1'%>
</div>

<%= form_with model: @message, class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :text, class: 'form-message', placeholder: 'メッセージを送ってね〜♫' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>